/* Fake window */

.fake-window .fake-window-top-row {
    padding: 1rem;
    background-color: #ecf0f1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.dark-mode .fake-window .fake-window-top-row {
    background-color: rgba(0, 0, 0, 0.1);
}

.fake-button {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.fake-button:after {
    content: '\200b';
}

.fake-content {
    height: 1.4rem;
    background-color: #ecf0f1;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    position: relative;
    overflow: hidden;
}

.dark-mode .fake-content {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.025);
}

.fake-content:after {
    content: '\200b';
    -webkit-animation: fake-content-loading 1.3s infinite;
    animation: fake-content-loading 1.3s infinite;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.9)), to(transparent));
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.9), transparent);
}

.dark-mode .fake-content:after {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.1)), to(transparent));
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
}

.fake-content.white:after {
    background-color: rgba(255, 255, 255, 0.5);
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.9)), to(transparent));
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.9), transparent);
}

.fake-content:last-child {
    margin-bottom: 0;
}

/* Custom footer */

.custom-footer {
    background-color: rgba(0, 0, 0, 0.025);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.dark-mode .custom-footer {
    background-color: #111417;
}

.custom-footer a.custom-footer-link {
    color: rgba(0, 0, 0, 0.65);
}

.dark-mode .custom-footer a.custom-footer-link {
    color: rgba(255, 255, 255, 0.65);
}

.custom-footer a.custom-footer-link:hover,
.dark-mode .custom-footer a.custom-footer-link:hover {
    color: #1890ff;
    text-decoration: none;
}

.custom-footer .btn-scroll-to-top {
    border-radius: 3rem;
}

@-webkit-keyframes fake-content-loading {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes fake-content-loading {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

/*
 * STYLING FOR SPINNING LOADERS
*/

.spinning-loader {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #33A1FD 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, #33A1FD);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: loading-spinner-animation 1s infinite linear;
}

.dark-mode .loading-spinner {
    background:
        radial-gradient(farthest-side, #2176FF 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, #2176FF);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
}

@keyframes loading-spinner-animation {
    100% {
        transform: rotate(1turn)
    }
}

/*
 * STYLES FOR GRADIENT TEXTS
*/

.gradient-text {
    background: rgb(51, 161, 253);
    background: linear-gradient(45deg, rgba(51, 161, 253, 1) 0%, rgba(253, 202, 64, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark-mode .gradient-text {
    background: rgb(33, 118, 255);
    background: linear-gradient(45deg, rgba(33, 118, 255, 1) 0%, rgba(247, 152, 36, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*
 * STYLES FOR COOKIE CONSTENT
*/

.cookie-wrapper {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--gray-color-light);
    padding: 15px 10px 15px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    text-align: center;
    z-index: 100;
}

.dark-mode .cookie-wrapper {
    background: var(--dark-color-light);
}

.cookie-wrapper.hide {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

@media (min-width: 720px) {
    .cookie-wrapper {
        padding: 25px 25px 30px 25px;
        bottom: 30px;
        left: 30px;
        border-radius: 15px;
        max-width: 365px;
    }
    .cookie-wrapper.hide {
        opacity: 0;
        pointer-events: none;
        transform: scale(0.8);
        transition: all 0.3s ease;
    }
}

.cookie-wrapper img {
    max-width: 90px;
}

.content h3 {
    font-size: 25px;
    font-weight: 600;
}

.content {
    margin-top: 10px;
}

.content p {
    color: #858585;
    margin: 5px 0 20px 0;
}

.content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: rgb(51, 161, 253);
    background: linear-gradient(45deg, rgba(51, 161, 253, 1) 0%, rgba(253, 202, 64, 1) 100%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-mode .buttons button {
    background: rgb(33, 118, 255);
    background: linear-gradient(45deg, rgba(33, 118, 255, 1) 0%, rgba(247, 152, 36, 1) 100%);
}

.buttons button:hover {
    transform: scale(0.97);
}

.buttons .item {
    margin: 0 10px;
}

.buttons a {
    color: var(--lm-base-text-color);
}

.dark-mode .buttons a {
    color: var(--dm-base-text-color);
}

/*
 * STYLES FOR TAB NAVIGATION
*/

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
    margin: 0;
}

.tab.active {
    background: rgb(51, 161, 253);
    background: linear-gradient(45deg, rgba(51, 161, 253, 1) 0%, rgba(253, 202, 64, 1) 100%);
    font-weight: 700;
}

.dark-mode .tab.active {
    background: rgb(33, 118, 255);
    background: linear-gradient(45deg, rgba(33, 118, 255, 1) 0%, rgba(247, 152, 36, 1) 100%);
}

.tab:hover {
    background: rgb(33, 118, 255);
    background: linear-gradient(45deg, rgba(33, 118, 255, 1) 0%, rgba(247, 152, 36, 1) 100%);
}

.dark-mode .tab:hover {
    background: rgb(51, 161, 253);
    background: linear-gradient(45deg, rgba(51, 161, 253, 1) 0%, rgba(253, 202, 64, 1) 100%);
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

/*
 * STYLES FOR BLOG
*/

.article-cover {
    position: relative;
}

.article-cover time {
    position: absolute;
    padding: 10px;
    bottom: 0;
    right: 0;
    font-size: 1.7rem;
}

.article-cover img {
    object-fit: cover;
    display: none;
    margin: 0 auto;
    max-height: 480px;
    height: auto;
    width: 100%;
}

.article-cover,
.article-preview-container .img-placeholder {
    aspect-ratio: 16 / 9;
    min-width: 100%;
    max-height: 480px;
    height: auto;
    background-color: #d3d3d3;
}

.dark-mode .article-cover,
.dark-mode .article-preview-container .img-placeholder {
    background-color: #696969;
}

.article-content {
    display: flex;
    justify-content: center;
}

.article-content-main {
    margin: 0 24px;
    max-width: 680px;
    font-size: 16px;
}

.article-content-main img {
    max-width: 680px;
    width: 100%;
}

.article-meta img {
    width: 60px;
    height: 60px;
    border-radius: 2px;
    background-color: #fff;
}

.article-meta .card {
    max-width: 680px;
    width: 100%;
}

.articles {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

@media (min-width: 720px) {
    .articles {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1080px) {
    .articles {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.article-preview-container {
    max-width: 680px;
}

.article-preview-container img {
    object-fit: cover;
    max-height: 360px;
    width: 100%;
    display: none;
}

.article-content-main h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

.article-content-main h2 {
    font-size: 2.8rem;
    font-weight: 650;
}

.article-content-main h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.article-content-main h4 {
    font-size: 2rem;
}

.article-content-main h5 {
    font-size: 1.6rem;
}

.article-content-main h6 {
    font-size: 1.2rem;
}

@media (min-width: 720px) {
    .article-content-main {
        margin: 0 48px;
    }

    .article-content-main {
        font-size: 18px;
    }

    .article-content-main h1 {
        font-size: 3.6rem;
    }

    .article-content-main h2 {
        font-size: 3.2rem;
    }

    .article-content-main h3 {
        font-size: 2.8rem;
    }

    .article-content-main h4 {
        font-size: 2.4rem;
    }

    .article-content-main h5 {
        font-size: 2rem;
    }

    .article-content-main h6 {
        font-size: 1.6rem;
    }
}

@media (min-width: 1080px) {
    .article-content-main {
        margin: 0 64px;
    }

    .article-content-main {
        font-size: 21px;
    }

    .article-content-main h1 {
        font-size: 4rem;
    }

    .article-content-main h2 {
        font-size: 3.6rem;
    }

    .article-content-main h3 {
        font-size: 3.2rem;
    }

    .article-content-main h4 {
        font-size: 2.8rem;
    }

    .article-content-main h5 {
        font-size: 2.4rem;
    }

    .article-content-main h6 {
        font-size: 2rem;
    }
}

/*
 * STYLES FOR CODE HIGHLIGHTING
*/

/* Light theme */
.hljs-comment,
.hljs-quote {
    color: #696969
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
    color: #d91e18
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
    color: #aa5d00
}

.hljs-attribute {
    color: #aa5d00
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
    color: green
}

.hljs-section,
.hljs-title {
    color: #007faa
}

.hljs-keyword,
.hljs-selector-tag {
    color: #7928a1
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #fefefe;
    color: #545454;
    padding: .5em
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

@media screen and (-ms-high-contrast:active) {

    .hljs-addition,
    .hljs-attribute,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-bullet,
    .hljs-comment,
    .hljs-link,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-params,
    .hljs-quote,
    .hljs-string,
    .hljs-symbol,
    .hljs-type {
        color: highlight
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: 700
    }
}

/* Dark theme */
.dark-mode .hljs-comment,
.hljs-quote {
    color: #d4d0ab
}

.dark-mode .hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
    color: #ffa07a
}

.dark-mode .hljs-built_in,
.hljs-builtin-name,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
    color: #f5ab35
}

.dark-mode .hljs-attribute {
    color: gold
}

.dark-mode .hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
    color: #abe338
}

.dark-mode .hljs-section,
.hljs-title {
    color: #00e0e0
}

.dark-mode .hljs-keyword,
.hljs-selector-tag {
    color: #dcc6e0
}

.dark-mode .hljs {
    display: block;
    overflow-x: auto;
    background: #2b2b2b;
    color: #f8f8f2;
    padding: .5em
}

.dark-mode .hljs-emphasis {
    font-style: italic
}

.dark-mode .hljs-strong {
    font-weight: 700
}

@media screen and (-ms-high-contrast:active) {

    .dark-mode .hljs-addition,
    .hljs-attribute,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-bullet,
    .hljs-comment,
    .hljs-link,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-params,
    .hljs-quote,
    .hljs-string,
    .hljs-symbol,
    .hljs-type {
        color: highlight
    }

    .dark-mode .hljs-keyword,
    .hljs-selector-tag {
        font-weight: 700
    }
}

pre code {
    -webkit-box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .15) !important;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .15) !important;
}

.dark-mode pre code {
    -webkit-box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .4) !important;
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .4) !important;
}

/*
 * STYLES FOR HOME PAGE
*/

.highlight-introduction {
    font-size: 2rem;
}

@media (min-width: 480px) {
    .highlight-introduction {
        font-size: 2.5rem;
    }
}

@media (min-width: 720px) {
    .highlight-introduction {
        font-size: 3.5rem;
    }
}

@media (min-width: 1080px) {
    .highlight-introduction {
        font-size: 5rem;
    }
}

/*
 * STYLING FOR BLOCKQUOTES
*/

blockquote {
    border-left: 5px solid var(--gray-color-light);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    -webkit-box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .15) !important;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .15) !important;
}

.dark-mode blockquote {
    border-left: 5px solid var(--dark-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    -webkit-box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .4) !important;
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .4) !important;
}

code {
    background: var(--gray-color-light);
    -webkit-box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .15) !important;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .15) !important;
}

.dark-mode code {
    background: var(--dark-color);
    -webkit-box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .4) !important;
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .4) !important;
}